[data-atoms=app]
  [data-atom-input]:not([type=range]):not([data-atom-input=autocomplete]), [data-atom-input=autocomplete] > input, [data-atom-select], [data-atom-textarea]
    padding: (UNIT / 2)
    margin-bottom: (UNIT / 4)
    font-family: FONT_FAMILY
    font-size: FONT_SIZE_NORMAL
    font-weight: FONT_WEIGHT_NORMAL
    background-color: transparent
    border: none
    border-radius: 0px
    color: DARK
    box-shadow: inset 0 -1px FORM_COLOR
    transition-property color, box-shadow
    transition-duration (ANIMATION_DURATION / 2)
    transition-timing-function ANIMATION_EASE

    &:focus
      box-shadow: inset 0 -2px THEME
    &.error, &.required
      color: darken(CANCEL, 5%)
      box-shadow: inset 0 -2px lighten(CANCEL, 20%)
      &::-webkit-input-placeholder
        color: lighten(CANCEL, 40%)
      &::-moz-placeholder
        color: lighten(CANCEL, 40%)
      &:-ms-input-placeholder
        color: lighten(CANCEL, 40%)

    &[disabled]
      box-shadow: none
      border-bottom: dashed 1px FORM_COLOR
      color: darken(FORM_COLOR, 25%)

    &::-webkit-input-placeholder
      color: FORM_COLOR
      font-weight: FONT_WEIGHT_THIN
    &::-moz-placeholder
      color: FORM_COLOR
      font-weight: FONT_WEIGHT_THIN
    &::-ms-input-placeholder
      color: FORM_COLOR
      font-weight: FONT_WEIGHT_THIN

  [data-atom-input][type=range]
    background-color: FORM_COLOR
    border-radius: (BORDER_RADIUS / 2)
    &::-webkit-slider-thumb
      border-radius: 50%
      background-color: lighten(FORM_COLOR, 95%)
      border: 1px solid FORM_COLOR

    &:active
      background-color: THEME !important
      &::-webkit-slider-thumb
        background-color: THEME
        border-color: THEME


@media screen and (min-width: 1024px)
  [data-atoms="app"] input[type=range]:hover
    background-color: THEME !important
