<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>whalletthegame</title>
        <meta name="description" content="whallet the game">
        <meta name="author" content="{{author}}">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
        <meta name="apple-mobile-web-app-title" content="whalletthegame">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="format-detection" content="telephone=no">
        <meta name="HandheldFriendly" content="True">
        <meta http-equiv="cleartype" content="on">

        <!-- iPhone -->
        <link href="assets/images/icon-57.png" sizes="57x57" rel="apple-touch-icon">
        <link href="assets/images/startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">

        <!-- iPhone (Retina) -->
        <link href="assets/images/icon-114.png" sizes="114x114" rel="apple-touch-icon">
        <link href="assets/images/startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

        <!-- iPhone 5 -->
        <link href="assets/images/startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px)
                 and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

        <!-- iPad -->
        <link href="assets/images/icon-72.png" sizes="72x72" rel="apple-touch-icon">
        <link href="assets/images/startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px)
                 and (orientation: portrait)
                 and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
        <link href="assets/images/startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px)
                 and (orientation: landscape)
                 and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">

        <!-- iPad (Retina) -->
        <link href="assets/images/icon-144.png" sizes="144x144" rel="apple-touch-icon">
        <link href="assets/images/startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px)
                 and (orientation: portrait)
                 and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
        <link href="assets/images/startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px)
                 and (orientation: landscape)
                 and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

        <!-- ATOMS: Dependencies -->
        <link rel="stylesheet" href="assets/css/atoms.css">
        <!-- ATOMS: whalletthegame -->
        <link rel="stylesheet" href="assets/css/atoms.whalletthegame.css">
    </head>
    <body data-atoms="app">
        <!-- ATOMS: Dependencies -->
        <script src="assets/js/atoms.js"></script>
        <!-- ATOMS: whalletthegame -->
        <script src="assets/js/atoms.whalletthegame.js"></script>
    </body>
</html>
